[submodule "modules/smyck-color-scheme"]
	path = modules/smyck-color-scheme
	url = git@github.com:hukl/Smyck-Color-Scheme.git
[submodule "modules/vim-gutentags"]
	path = modules/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "modules/rust.vim"]
	path = modules/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "modules/black"]
	path = modules/black
	url = git@github.com:ambv/black.git
