[submodule "textmate/bundles/matlab.tmbundle"]
	path = textmate/bundles/matlab.tmbundle
	url = https://github.com/textmate/matlab.tmbundle.git
[submodule "textmate/bundles/qml.tmbundle"]
	path = textmate/bundles/qml.tmbundle
	url = https://github.com/tadelv/qml.tmbundle.git
[submodule "textmate/bundles/Whitespace.tmbundle"]
	path = textmate/bundles/Whitespace.tmbundle
	url = https://github.com/mads379/Whitespace.tmbundle.git
[submodule "textmate/bundles/Ensure-New-Line-at-the-EOF.tmbundle"]
	path = textmate/bundles/Ensure-New-Line-at-the-EOF.tmbundle
	url = https://github.com/hajder/Ensure-New-Line-at-the-EOF.tmbundle.git
[submodule "modules/smyck-color-scheme"]
	path = modules/smyck-color-scheme
	url = git@github.com:hukl/Smyck-Color-Scheme.git
